@model SCAME.Models.Paciente
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Covid-19";
}

@if (User.IsInRole("Administrador"))
{
    <br />
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h2>Confirmar Caso</h2>
            <h4>
                Confirme el paciente elegido si al revisar la prueba en el administrador de pacientes es <br />
                positiva, ayude a los consultorios a saber confirmandolo como caso positivo
            </h4>
            <h4>
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="CasoPositivo">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdPaciente" />
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    @Html.DisplayNameFor(model => model.CasoConfirmado)
                                </label>
                                <p>Si  <input class="form-check-inline" id="checkSi" asp-for="CasoConfirmado" /> </p>
                            </div>
                            <input type="submit" value="Guardar" class="btn-get-started scrollto" />
                            <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
                        </form>
                    </div>
                </div>

            </h4>
        </div>
    </section>
    
}