@model SCAME.Models.Horario
@using SCAME.Models
@{
    ViewData["Title"] = "Create";
    var primero = ViewBag.primerizo;
}
@{if (primero == true)
    {
        <br />
        <br />
        <br />

        <section id="hero" class="d-flex align-items-center">
            <div class="container">
                <h2>Ingrese su horario principal, despues podrá agregar mas desde su perfil</h2>
                <h2>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <form asp-action="Create1">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Dia" class="control-label"></label>
                                    <input asp-for="Dia" class="form-control" />
                                    <span asp-validation-for="Dia" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HoraApertura" class="control-label"></label>
                                    <input asp-for="HoraApertura" class="form-control" />
                                    <span asp-validation-for="HoraApertura" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HoraCierre" class="control-label"></label>
                                    <input asp-for="HoraCierre" class="form-control" />
                                    <span asp-validation-for="HoraCierre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Crear" class="btn-get-started scrollto" />
                                </div>
                            </form>
                        </div>
                    </div>
                </h2>
            </div>
        </section>
    }
    else
    {
        <section id="hero" class="d-flex align-items-center">
            <div class="container">
                <h2>Ingrese su nuevo horario</h2>
                <h2>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <form asp-action="Create">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Dia" class="control-label"></label>
                                    <input asp-for="Dia" class="form-control" />
                                    <span asp-validation-for="Dia" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HoraApertura" class="control-label"></label>
                                    <input asp-for="HoraApertura" class="form-control" />
                                    <span asp-validation-for="HoraApertura" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HoraCierre" class="control-label"></label>
                                    <input asp-for="HoraCierre" class="form-control" />
                                    <span asp-validation-for="HoraCierre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Crear" class="btn-get-started scrollto" />
                                    <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </h2>
            </div>
        </section>
       
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
