@model SCAME.Models.Discapacidad

@{
    ViewData["Title"] = "Crear";
}
<br />
<br />
<br />
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Crear Discapacidad</h1>
        <h2>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NombreDiscapacidad" class="control-label"></label>
                            <input asp-for="NombreDiscapacidad" class="form-control" />
                            <span asp-validation-for="NombreDiscapacidad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn-get-started scrollto" />
                            <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </h2>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
