@model SCAME.Models.Discapacidad
@{
    ViewData["Title"] = "Eliminar";
}
<br />
<br />
<br />
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Eliminar Discapacidad</h1>
        <h3>La información que se elimine sera permanente</h3>
        <h2>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreDiscapacidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreDiscapacidad)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdDiscapacidad" />
                <input type="submit" value="Delete" class="btn-get-started bg-danger" />
                <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
            </form>

        </h2>
    </div>
</section>