@model SCAME.Models.Discapacidad


@{
    ViewData["Title"] = "Detalles";
}
<br />
<br />
<br />
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Detalle Especialidades</h1>
        <h2>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreDiscapacidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreDiscapacidad)
                </dd>
            </dl>
            <a asp-action="Edit" asp-route-id="@Model.IdDiscapacidad" class="btn-get-started scrollto">Editar</a>
            <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>

        </h2>
    </div>
</section>
