@model SCAME.Models.Medico
@{
    ViewData["Title"] = "Crear";
}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h2>Ingresar Médico</h2>
        <h4>
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div class="form-row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label asp-for="Cedula" class="control-label"></label>
                                    <input asp-for="Cedula" type="number" class="form-control" />
                                    <span asp-validation-for="Cedula" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label asp-for="Apellido" class="control-label"></label>
                                    <input asp-for="Apellido" class="form-control" />
                                    <span asp-validation-for="Apellido" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2 mb-3">
                                <div class="form-group">
                                    <label asp-for="Telefono" class="control-label"></label>
                                    <input asp-for="Telefono" class="form-control" />
                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-group">
                                    <label asp-for="CodigoSenecyt" class="control-label"></label>
                                    <input asp-for="CodigoSenecyt" class="form-control" />
                                    <span asp-validation-for="CodigoSenecyt" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label asp-for="TituloEgresado" class="control-label"></label>
                                    <input asp-for="TituloEgresado" class="form-control" />
                                    <span asp-validation-for="TituloEgresado" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="submit" value="Crear" class="btn-get-started scrollto" />
                                <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
                            </div>    
                        </div>
                    </form>
                </div>
            </div>
        </h4>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
